<style>
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>

<center>
	<h1>4PCS Tongue Scraper, Stainless Steel Tongue Cleaners, 100% BPA Free Fresher Tongue Tools</h1>
	<br><br>
</center>

<body>

<div class="row">
  <div class="column">

	  <center>
		  <a name="product-image" href="https://smile.amazon.com/dp/B08LGF24MN" rel="nofollow" class="thumbnail" id="product_image" target="_blank" onclick="javascript: ga('send', 'event', 'outgoing', 'prod-img');" style="border:0px !important">
			  <img src="https://m.media-amazon.com/images/I/41du2Hq80UL._AC_US180_SCLZZZZZZZ__.jpg" id="main_product_image" itemprop="image" alt="Product name"></a>
		  <br><a href="https://smile.amazon.com/dp/B08LGF24MN" rel="nofollow" class="btn btn-warning" target="_blank" onclick="javascript: ga('send', 'event', 'outgoing', 'see-price-button', 'layout-2');" "=""><b>View product on Amazon.com</b></a>
	  </center>
  </div>

  <div class="column">
    <fieldset class="orig-rtg">

		<legend align="center"><br>
			<img src="./src/amazon-corner-logo.png" alt="product name">
			<br> Rating:</a></legend>

		<center>
			<br><br>
			<label>4.6</label><br>
			<b>5,042</b> <i>Ratings</i>
			<br><br><br>
		</center>
	</fieldset>
  </div>

  <div class="column middle">
	  <center>
		  <br><br>
		  <small><b><font color="#48BD3A" size="+1">0%</font></b> <br>of<br> potentially unnatural reviews removed </small>
		  <br><br>
	  </center>
  </div>

  <div class="column">
    <fieldset class="adj-rtg">
		<legend align="center">
			<img src="./src/reviewmeta-icon.png">
			<i>Adjusted</i> Rating:
		</legend>
	<center>
		<br><br>
		<label>4.6</label><br>
		<b>5,042</b> Ratings*
		<br><br><br>
		<center>
		</fieldset>
  </div>
  </div>
</div>

</body>

